@charset "utf-8";

/* Debug Area */
.debug-area {
    background-color: pink;
    padding: 10px;
    margin: 10px 0;
    border-radius: 0.5rem;
}

.debug-area h2 {
    background-color: transparent;
    color: darkred;
}

.debug-area h3 {
    color: darkred;
}

.debug-area h4 {
    color: darkred;
    margin-top: 1rem;
}

.debug-area>ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.debug-area>ul>li {
    margin-bottom: 1rem;
    border-bottom: 1px dashed darkred;
    padding-bottom: 1rem;
}

.debug-area>ul>li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.debug-area pre {
    background-color: white;
    padding: 5px;
    border: 1px solid darkred;
    border-radius: 0.5rem;
    overflow-x: auto;
}

/* common */
:root {
    --color-tenik-orange: #ff9845;
    --color-base-font: midnightblue;
    --color-error-bg: pink;
    --color-error-font: darkred;
    --color-success-bg: palegreen;
    --color-success-font: darkgreen;
    --color-info-bg: skyblue;
    --color-info-font: darkblue;
    --height-header: 3.2rem;
    --font-family-base: Arial, sans-serif;
}

* {
	margin:0;
	padding:0;
    box-sizing: border-box;
    color: var(--color-base-font);
}

body {
    font-family: var(--font-family-base);
    background-color: #f5f5f5;
    min-height: 100vh;
}

#container {
    min-height: 100vh;
}

header {
    height: var(--height-header);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#content {
    width: 75%;
    max-width: 960px;
    margin: var(--height-header) auto 0 auto;
    min-height: calc(100vh - var(--height-header));
}

.view-container {
    min-height: inherit;
    padding: 1rem 0;
}

a {
    text-decoration: none;
}

/* a:hover {
    text-decoration: underline;
} */

button {
    background: none;
    border: none;
    cursor: pointer;
}

span.material-symbols-outlined {
    font-size: inherit;
    vertical-align: middle;
    color: inherit;
}

.app-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    border: 1.5px solid var(--color-tenik-orange);
    background-color: var(--color-tenik-orange);
    letter-spacing: 1px;
    color: #fff;
    padding: 0 1rem;
    line-height: 2rem;
    border-radius: 0.5rem;
    min-width: 10em;
    transition: background-color 0.3s, color 0.3s;
}

.app-btn:hover {
    line-height: 2rem;
    background-color: #fff;
    color: var(--color-tenik-orange);
}

/* Form */
.form {
    --input-border-width: 1px;
    --input-line-height: 2rem;
    font-size: 1.25rem;
    border-left: 1.5px solid var(--color-tenik-orange);
    padding-left: 1rem;
}

fieldset {
    position: relative;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

legend {
    font-weight: bold;
    margin-bottom: 1rem;
}

.input {
    display: flex;
    align-items: flex-start;
}

.input label {
    flex: 1;
}

.required label::after,
.required-star {
    content: "*";
    color: tomato;
    font-size: 1.5rem;
    font-weight: bold;
}

.required label::after {
    margin-left: 0.25rem;
}

.required-star {
    margin: 0 0.25rem;
}

.input-error {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.input input,
.input textarea {
    font-size: 1.25rem;
    border-radius: 0.25rem;
    border: var(--input-border-width) solid var(--color-base-font);
    line-height: var(--input-line-height);
    padding: 0 0.5rem;
}

.input input {
}

.input textarea {
    resize: vertical;
    min-height: calc(var(--input-line-height) + var(--input-border-width) * 2);
}

.error {
    background-color: var(--color-error-bg);
    font-size: 0.875rem;
    list-style-type: disc;
    list-style-position: inside;
    padding: 0.25rem 0.875rem;
    border-radius: 0.25rem;
}

.error li {
    color: var(--color-error-font);
}

.submit {
    margin-top: 1rem;
    text-align: right;
}

/* user registration: step bar */
.step-bar-container {
    --icon-diameter: 1.875rem;
    --line-height: 2px;
    margin: 0 2rem;
}

.step-bar {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.step-bar li {
    flex: 1;
    position: relative;
    text-align: center;
    opacity: 0.4;
}

.step-bar li:not(:first-child)::before {
    content: "";
    position: absolute;
    top: calc((var(--icon-diameter) / 2) - (var(--line-height) / 2));
    right: calc(50% + var(--icon-diameter) / 2);
    width: calc(100% - var(--icon-diameter));
    height: var(--line-height);
    background-color: var(--color-tenik-orange);
    z-index: -1;
    display: block;
}

.step-bar li.active {
    opacity: 1;    
}

.step-bar .material-symbols-outlined {
    border-radius: 50%;
    background-color: var(--color-tenik-orange);
    font-size: calc(var(--icon-diameter) * 0.75);
    width: var(--icon-diameter);
    height: var(--icon-diameter);
    line-height: var(--icon-diameter);
    color: #fff;
}

.step-bar li.current .material-symbols-outlined {
    transform: scale(1.25);
    transform-origin: center;
}


/* user registration: register */
.user-register {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

/* user registration: confirm */
.user-confirm {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.user-confirm form {
    display: none;
}

.confirm-table-wrap {
    /* テーブル外周の 0.5rem を外側で相殺 */
    margin: -0.5rem;
}

.confirm-table {
    font-size: 1.25rem;
    border-collapse: separate;
    border-spacing: 0.5rem;
    width: 100%;
}

.confirm-table .col-label {
    width: 20%;
}

.confirm-table th,
.confirm-table td {
    border-radius: 0.25rem;
    padding: 0 0.5rem;
    line-height: 2rem;
    text-align: left;
    box-shadow: 1px 1px 2px rgba(0 0 0 / .1);
}

.confirm-table th {
    font-weight: normal;
    background-color: var(--color-tenik-orange);
    color: #fff;
} 

.confirm-table td {
    background-color: #fff;
}

.submit-confirm {
    margin-top: auto;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
}

/* user registration: complete */
.user-complete {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.welcome-message {
    font-size: 1.5rem;
    text-align: center;
}

.welcome-message span {
    font-weight: bold;
}

.user-complete ul {
    list-style-type: none;
    display: flex;
    padding: 0 2rem;
    gap: 2rem;
}

.user-complete ul li {
    flex: 1;
}

.user-complete .app-btn {
    width: 100%;
    font-size: 1.25rem;
}

/* threads: home */
.threads-home {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.threads-home ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.thread-card {
    position: relative;
    display: flex;
    background-color: #fff;
    /* border: 1px solid var(--color-tenik-orange); */
    border-radius: 0.5rem;
    gap: 1rem;
    padding: 0.25rem 0.875rem;
    box-shadow: 2px 2px 3px rgba(0 0 0 / .1);
}

.thread-title-description {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.thread-title {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thread-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.thread-meta {
    align-self: flex-end;
}

.thread-meta * {
    /* outline: 1px solid black; */
}

.thread-link {
    position: absolute;
    inset: 0;
    z-index: 1;
    /* background-color: rgba(0 0 255 / .1); */
}

.inner-link {
    position: relative;
    z-index: 2;
}

.inner-link:hover {
    text-decoration: underline;
}

.thread-meta-list {
    display: grid;
    font-family: monospace; /* 等幅フォント */
    /* 19ch: yyyy-mm-dd hh:mm:ss */
    grid-template-columns: auto 19ch; /* 左: アイコン(=dt) / 右: 値(=dd) */
    gap: .25rem .5rem;
    font-size: 1rem;
}

.thread-meta-list * {
    font-family: var(--font-family-base);
}

.thread-meta-list dt,
.thread-meta-list dd {
    height: 1.5rem;
    line-height: 1.5rem;
}

.thread-meta-list dt {
    grid-column: 1;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.thread-meta-list dt::after {
    content: ":";
    margin-left: auto;
    font-weight: bold;
}

.thread-meta-list dd {
    grid-column: 2;
    font-size: inherit;
    font-family: monospace;
}

.thread-meta-list dd * {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.thread-meta-list dd time {
    font-family: inherit;
}
